::-webkit-scrollbar {
    width: 3px;
    height: 3px;               /* width of the entire scrollbar */
  }
  
::-webkit-scrollbar-track {
    background: rgb(63, 63, 63);        /* color of the tracking area */
  }
  
::-webkit-scrollbar-thumb {
    background-color: rgb(37, 37, 37);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
  }

#leiaut{
    width: 400px;
    height: 500px;
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    margin: 10px 0;
    
}

.header{
    width: 100%;
    overflow-y: auto;
}
.top{
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}
.tarefa{
    width: 400px;
    height:30px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    background: gray;
    padding: 0 20px;
    border-radius: 15px;
    margin-bottom: 30px;
}
#tarefatxt{
    padding-left: 40px;
}
.quantidade{
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}
.btn-excluir{
    display: none;
}
.tarefa:hover .btn-excluir{
    display: flex !important;
}
